* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: black;
  padding: 80px 0;
}

.textbox {
  max-width: 1000px;
  color: white;
}
