* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  color: white;
  padding: 15px 30px;
  background: black;
  border: 2px solid white;
  text-decoration: none;
}

.add-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
}

section {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  display: block;
  padding: 10px 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

h1,
h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
}
